# Получить: https://oauth.yandex.ru/authorize?response_type=token&client_id=1a6990aa636648e9b2ef855fa7bec2fb
OAUTH_TOKEN=y0__xDayb1rGMHdEyCPvcWBFEhJ_C5eyajoovIPQsnrtPvSvMR-

# PostgreSQL
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
YOLO_MODEL_PATH=